
#image{

overflow:hidden;
width:650px;
height:400px;


}
#image>img{
width:650px;
position:absolute;
height:400px;
margin-left:300px ;
margin-top:73px;
display:none;
border:ridge;
border-width:4px;

z-index:+1;
}
.left{
position:absolute;
left:306px;
top:300px;
z-index:+2;

}
.right{
position:absolute;
left:932px;
top:296px;
z-index:+2;


}